<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>Chat window</title>
    <link rel="stylesheet" href="/messagesTemplate/css/normalize.css">
    <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>
    <link rel="stylesheet" href="/messagesTemplate/css/style.css">    
  
  </head>

  <body>

  <div class="chat-box">

  <div class="chat-header" id = "participantNames">
    <div class="user-profile" data-up='cont1'></div>
    <span>Erza</span>
    <div class="user-profile" data-up='cont2'></div>
    <span>Nastu</span>
  </div>

  <div id='chat' class="chat">

    <div class="chat-container" id='cont1'>
      <div class="bubble">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ut sapien vitae eros consectetur vehicula lacinia at nibh. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vestibulum aliquet elit nec erat rutrum rutrum. Mauris ligula
          magna, dignissim id tortor eu, aliquet dapibus ipsum</p>
      </div>
      <span class="datestamp">May 20, 2016, 4:16 PM</span>


      <div class="bubble bubble-alt">
        <p>Aenean ac magna rutrum, finibus est at, venenatis ipsum. Etiam egestas venenatis semper. Sed a neque sed sem lacinia finibus ac nec nisi.</p>
      </div>
      <span class="datestamp  dt-alt">May 20, 2016, 4:17 PM</span>


      <div class="bubble">
        <p>Interdum et malesuada fames ac ante ipsum primis in faucibus. Ut facilisis justo in nisl elementum, at fermentum augue tempor. </p>
      </div>
    </div>

    <div class="chat-container" id='cont2'>
      <div class="bubble">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ut sapien vitae eros consectetur vehicula lacinia at nibh. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vestibulum aliquet elit nec erat rutrum rutrum. Mauris ligula
          magna, dignissim id tortor eu, aliquet dapibus ipsum</p>
      </div>
      <span class="datestamp">May 20, 2016, 4:16 PM</span>

      <div class="bubble bubble-alt">
        <p>Aenean ac magna rutrum, finibus est at, venenatis ipsum. Etiam egestas venenatis semper. Sed a neque sed sem lacinia finibus ac nec nisi.</p>
      </div>
      <span class="datestamp  dt-alt">May 20, 2016, 4:17 PM</span>
    </div>
  </div>


  <div class="chat-control">
    <input class="chat-input" type="text" placeholder="enter your message" />
  </div>
</div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="/messagesTemplate/js/index.js"></script>

    
    
    
  </body>
</html>
