<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Student Main</title>
    <link rel="stylesheet" href="../../styles/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>

<body>
    <div class="top-navigation-bar">


        <div id="top-navigation-container">

          <img src="https://olmcnews.files.wordpress.com/2015/11/festival-logo.gif?w=584">

          <ul class="left">
            <li><a class="active" href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
          </ul>

          <ul class="right">
            <li class="user">Logged in as User</li>
            <li><button type="button" class="btn btn-default btn-sm"> Log out
                </button></li>
          </ul>

        </div>
    </div>

    <div class="side-navigation-bar">
        <ul>
          <li><a class="active" href="#">Profile</a></li>
          <li><a href="#">Messages</a></li>
          <li><a href="#">Chats</a></li>
          <li><a href="#">Calendar</a></li>
        </ul>
    </div>

    <div class="middle">
        <div class="container">
            <div class="row">
                <div class="col-sm-3 col-sm-offset-9"> <!-- change this to change position and size of search bar -->
                    <div id="imaginary_container"> 
                        <div class="input-group stylish-input-group">
                            <input type="text" class="form-control"  placeholder="Search" >
                            <span class="input-group-addon">
                                <button type="submit">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>  
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>
</html>
