 <!DOCTYPE html>
<html>
	<head>
		<title>Chat</title>
		<link rel = "stylesheet" href = "css/main.css">

		<!-- Latest compiled and minified Bootstrap CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	</head>

	<body>
		<div class="row">
			  <div class="col-xs-12 col-sm-offset-4 col-sm-6 col-lg-5 col-lg-offset-5">
					<div class = "chat">
						<input type = "text" class = "chat-name" placeholder = "Enter your name:">
						<div class = "chat-messages">

							<!--overall chat in here-->
							<div class = "my_message">
							</div>
						</div>

						<textarea id = "textarea_message" placeholder = "Type your message:"></textarea>

					</div>
				</div>
		</div>

		<script src="/socket.io/socket.io.js"></script>
		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<!-- Latest compiled Bootstrap JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

		<script src="js/myscripts.js"></script>
	</body>

</html>
